.color {
	position: relative;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.color::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 18px;
	height: 18px;
	border: 0.4px solid transparent;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.color--red {
	background-color: #ff0000;
	border: 0.4px solid transparent;
}

.color--white {
	background-color: #fff;
	border: 0.4px solid #000000;
}
.color--brown {
	background-color: #b67c7c;
	border: 0.4px solid transparent;
}

.color--check.color::after {
	border-color: #929292;
}
