.footer {
	@include tablet {
	}
	// .footer__container

	&__container {
		display: grid;
		grid-template-areas:
			'category social contacts'
			'copyright . development';
		grid-template-columns: 1fr 2fr 1fr;
		gap: 26px 20px;
		padding-top: 51px;
		padding-bottom: 16px;
		border-top: 1px solid $light-gray;

		@include laptop {
			grid-template-columns: 1fr 1fr 1fr;
			padding-top: 31px;
		}

		@include tablet {
			grid-template-columns: 1fr 2fr 1fr;
			row-gap: 17px;
			padding-top: 25px;
			padding-bottom: 16px;
		}

		@include mobile {
			grid-template-areas:
				'category social'
				'contacts contacts'
				'development development'
				'copyright copyright';
			grid-template-columns: 1fr max-content;
			gap: 24px;
			padding-top: 17px;
		}
	}

	// .footer__item--category

	&__item--category {
		grid-area: category;
	}

	// .footer__item--social

	&__item--social {
		grid-area: social;
		justify-self: center;
	}

	// .footer__item--contacts

	&__item--contacts {
		grid-area: contacts;
	}

	// .footer__item--development

	&__item--development {
		grid-area: development;
	}

	// .footer__item--copyright

	&__item--copyright {
		grid-area: copyright;
		align-self: end;
	}

	// .footer__title

	&__title {
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		text-transform: uppercase;

		@include tablet {
			font-size: 16px;
			line-height: 19px;
		}

		@include mobile {
			font-size: 14px;
			line-height: 17px;
		}
	}

	// .footer__link

	&__link {
		transition: color 0.3s ease-in-out;

		&:hover {
			color: $gray;
		}
	}
}
