.footer-contacts {
	display: flex;
	flex-direction: column;
	// .footer-contacts__mail

	&__mail {
		margin-bottom: 16px;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;

		@include tablet {
			margin-bottom: 21px;
			font-size: 14px;
			line-height: 17px;
		}

		@include mobile {
			margin-bottom: 9px;
		}
	}

	// .footer-contacts__phone

	&__phone {
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;

		@include tablet {
			font-size: 14px;
			line-height: 17px;
		}
	}
}
