.gender {
	display: flex;

	// .gender__item

	&__item {
		flex-basis: 50%;
	}

	// .gender__link

	&__link {
		display: block;
		padding: 16px 0;
		border-bottom: 1px solid $light-gray;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		text-transform: uppercase;
		transition: color 0.3s ease-in-out;

		@include tablet {
			font-size: 16px;
			line-height: 19px;
		}

		@include mobile {
			font-size: 14px;
			line-height: 17px;
		}

		&:hover {
			color: $gray;
		}
	}

	// .gender__link--active

	&__link--active {
		border-color: $main-color;
		pointer-events: none;
	}
}
